%ptserif
  font-family: 'PT Serif', serif

body
  // background: white
  background: #FFF8F8
  // font-family: 'Merriweather', serif
  @extend %ptserif
  font-weight: 400
  color: #444
  font-size: 85.7%
  &.article
    padding-top: 0

header,
footer div,
article,
aside div,
.m-header--index div
  max-width: 800px
  width: 100%
  margin: 0 auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

p
  margin: 0 0 1em

.clear
  clear: both

em
  font-size: italic

strong
  font-weight: 700

header
  border-bottom: 1px solid #efefef
h1, h2
  // text-align: center
  font-family: 'PT Sans', sans-serif
  font-weight: 400
  font-size: 1.4em
  span
    font-size: 2.5em
    display: block
    @extend %ptserif
  a
    // width: 70px
    // height: 70px
    // background: transparent url('../images/logo-2.png') 0 0 no-repeat
    // background-size: 70px 70px
    display: block
    color: #F8595B
    // text-indent: -999em
    margin: 0 auto 2.5em
    border-bottom: 0 none
  a:hover
    border-bottom: 0 none
h2
  a
    // width: 70px
    // height: 70px
    // background: transparent url('../images/logo-2.png') center center no-repeat
    // background-size: 50px 50px

h3
  font-family: 'PT Sans', sans-serif
  font-weight: 400
  font-size: 1.8em
  margin: 2.3em 0
  color: #969595

.m-header--index
  padding: 4em 0
  margin-bottom: 6em
  max-width: 100%
  min-height: 380px
  background: white
  // background: transparent url('../images/bg-2.jpg') 0 0 no-repeat
  -webkit-background-size: cover
  background-size: cover
  h1
    margin-top: 0
.m-header--article
  padding: 0 0 .5em
  margin-bottom: 3em
  h2
    margin-bottom: 0
  a
    margin-bottom: .75em !important
.m-title--back-home span
  text-indent: -999em
  display: inline-block

.m-baseline
  font-size: 1.3em
  line-height: 2em
  // text-align: center
  // color: white
  color: #969595
  font-weight: 300
  a
    // color: white
    color: #F8484A
    // border-color: #8D796E
    border-color: #efefef

.m-blog--short
  padding: 0 0 2em
  margin-bottom: 4em
  border-bottom: 1px solid #efefef
  overflow: hidden
  div
    width: 35%
    float: left
    display: inline-block
  div + div
    width: 65%
    padding: 0 0 0 5%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    font-size: 1.15em
    line-height: 1.5em
    a
      color: #F8484A
      text-decoration: none
      border-bottom: 0 none
  h2
    margin: 0 0 .65em
    font-family: 'PT Sans', sans-serif
    color: #969595
    a
      // color: #444
      color: #969595
      text-decoration: none
      border-bottom: 0 none
      margin-bottom: 0

time
  color: #8D796E
  font-style: italic
  font-weight: 300
  font-size: 1em

a
  color: #F8484A
  text-decoration: none
  // border-bottom: 1px solid #444
  border-bottom: 1px solid #efefef
  padding: 0 0 .25em
  -webkit-transition: all .2s ease-in-out
  -moz-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
  &:hover
    color: #F67543
    border-bottom: 1px solid white

.m-blog--article
  // margin-bottom: 5em
  padding: 0 0 4em
  border-bottom: 1px solid #efefef
  max-width: 750px
  h1
    font-family: 'PT Sans', sans-serif
    // color: #444
    color: #969595
    font-size: 2.5em
    margin: 0 0 .3em
  p
    font-size: 1.4em
    line-height: 1.85em
    margin-bottom: 1.75em
  time
    margin: 0 0 4em
    display: block
    color: #ccc

.m-article--navigation
  overflow: hidden
  margin: 5em 0 0
  padding: 0
  a
    color: #8D796E
  li
    list-style-type: none
    float: left
    display: inline-block
    width: 50%
  .next
    float: right
    text-align: right

.previous a, .next a
  background: #F8484A
  color: white
  padding: .5em .75em
  display: inline-block
  text-align: center
  min-width: 90px

.social
  float: right
  display: inline-block
  zoom: 1
  display: inline
  width: 100%
  text-align: right
  font-size: 1em !important
  font-weight: 300
  font-style: italic
  margin-bottom: .4em !important
  color: #ccc
  iframe
    width: 80px !important

footer
  max-width: 100%
  color: white
  padding-top: 2em
  background: #1D1D1D
  text-align: center
  padding-bottom: 2em
  a
    font-size: 2em
    display: inline-block
    margin: .5em 0.25em 0
    color: white
    border-color: #1D1D1D
    &:hover
      border-color: #F8595B
aside
  max-width: 100%
  overflow: hidden
  padding: 4em 0 4em
  // margin-bottom: 4em
  // border-bottom: 1px solid #efefef
  background: #22313F
  p
    font-size: 1em
    line-height: 1.8em
    color: #ecf0f1
  a
    color: #ecf0f1
    border-color: #ecf0f1
    &:hover
      border-color: #F8595B
  img
    -webkit-border-radius: 50%
    border-radius: 50%
    border: 1px solid #ecf0f1
    padding: .25em
    width: 110px
    float: left
    display: inline-block
    margin: 0 3em 0 0
  strong
    font-style: italic

blockquote
  display: block
  margin: 2em 2em 2em 1em
  padding: 0 0 0 1em
  border-left: 2px solid #efefef
  font-style: italic
  color: #8A8A7B
  float: left
  width: 80%
  position: relative
  margin-left: -10em
  p
    margin-bottom: 0 !important

@media only screen and (max-width:800px)
  body
    border: 15px solid #efefef
  article, aside
    padding-left: 1em !important
    padding-right: 1em !important
  .m-header--index
    padding: 2em 1em
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -o-box-sizing: border-box
    box-sizing: border-box
  .m-title--back-home
    position: absolute !important
    margin-left: -25px
    left: 50% !important


@media only screen and (max-width:568px)
  .m-blog--article
    p
      font-size: 1.1em

