body
  background: white
  max-width: 800px
  width: 100%
  margin: 0 auto
  padding: 4em 0 0
  font-family: 'Gentium Book Basic', serif
  color: #444
  font-size: 85.7%

p
  margin: 0 0 1em

em
  font-size: italic

strong
  font-weight: 700

header
  padding: 0 0 2em
  margin: 0 0 9em
  border-bottom: 1px solid #efefef
  h1, h2
    width: 70px
    height: 70px
    background: transparent url('../images/logo-sam_@2x.png') 0 0 no-repeat
    background-size: 70px 70px
    display: block
    text-indent: -999em
    margin: 0 auto 1.5em

.m-baseline
  font-size: 1.2em
  line-height: 1.85em
  text-align: center
  color: #8D796E
  a
    color: #8D796E
    border-color: #8D796E

.m-blog--short
  padding: 0 0 1.5em
  margin: 0 0 1.5em
  border-bottom: 1px solid #efefef
  overflow: hidden
  div
    width: 40%
    float: left
    display: inline-block
  div + div
    width: 60%
    padding: 0 0 0 10%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    font-size: 1.45em
    line-height: 1.5em
  h2
    margin: 0 0 .65em
    font-family: 'Lato', sans-serif
    a
      color: #444
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 0.085em
      border-bottom: 0 none
time
  color: #8D796E
  font-style: italic
  font-size: 1.15em

a
  color: #444
  text-decoration: none
  border-bottom: 1px solid #444
  padding: 0 0 .25em
  -webkit-transition: all .2s ease-in-out
  -moz-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
  &:hover
    color: #F67543
    border-bottom: 1px solid white

.m-blog--article
  h1
    font-family: 'Lato', sans-serif
    color: #444
    text-transform: uppercase
    letter-spacing: 0.085em
    margin: 0 0 2em
  p
    font-size: 1.45em
    line-height: 1.7em


