<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Random thoughts by Sam Markiewicz, web and graphic design" %></title>
    <link href='http://fonts.googleapis.com/css?family=Poly' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>

  <body>
    <header>
      <a href="/">
        <img class="l-logo" src="../images/logo-sam_@2x.png"/>
      </a>
      <h1 class="m-baseline">
        Thoughts, random thoughts by Sam Markiewicz, web and graphic designer.
      </h1>
    </header>
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
