---
title: Focus on what matters
published: false
teaser: This is one of the first and common mistake that you make when you spend your first time alone as a freelancer...
description: This article talks about the similitude between growing a beard and growing a career.
pagetitle: It's all about growing a beard
banner: focus.jpg
type: article
---

p
  'Skills, abilities, all that years after years makes of you a “professional” or that kind-of person, is a lot like growing a beard…

p
  'Yes, I know, this is a pretty “man-centric” point of view, so, all my apologies ladies.

p
  'Years ago, I remember my first downy mustache.
  'And how much I was proud to wear it.
  'You know, I was feeling like a man.
  'Of course, I was nothing more than just a teen. Another teen, with a nerd’s face. But I was feeling like Clark Gable.
  'Everyone was looking at me with an indulgent smile, while thinking that I was ridiculous.
  'But I had this will of one day having a glorious beard.

p
  'This is why, day after day, weeks after weeks, I learnt how to grow a decent beard.

p
  'Believe me, this is not an easy affair. And every people who tried can acquiesce.
  strong
    'This is a matter of patience, and love. Nothing less.
  'This is a complete dedication an every day job.
  strong
    'A mission. Ok, I exagerate, but truly, this is a lot of maintenance.

p
  'Remember, this is something that you wear every day. This is something you can’t hide. You can’t let it being messy, you can’t let it be poor.
  strong
    'You have to find the right balance.

p
  'You have to let it grow every day, and cut what is not necessary, as time goes by. You have to find the right length. The one you’ll be comfortable with. With you, and with others.

p
  'And so, years after years, you begin to be really proud of your beard. It begins to be a part of you, of who you are, and of what defines you among the crowd.
  'Of course, you can decide to shave it one day, and start again from zero, but all those days have been a waste of time. Never.

p
  'So, to all of you, start growing your own mustache, or keep taking good care of your beard !
