---
title: Clothe your websites like Yohji Yamamoto
published: true
teaser: This article talks about a quote by Yohji Yamamoto, and how we could apply this to our websites
description: Japanese fashion designer Yohji Yamamoto has some words that we could take for inspiration...
pagetitle: Clothe your websites like Yohji Yamamoto
banner: simplicity.png
type: article
---

p
  'Yesterday, as I was reading a book talking about simplicity and minimalism in life, I stumble upon a quote by
  a href="http://en.wikipedia.org/wiki/Yohji_Yamamoto" target="_blank"
    'Yohji Yamamoto.

p
  'That quote was saying that :
  quote
    'Wearing colours bothers others, that's useless. Black and white offer all, by themselves. They have absolute beauty, and they allow us to reach the essential (skin, hair, eyes' colours, a jewel... Everything spring with black and white).

p
  'For most of the websites that we make, that could be a mantra.
  br
  'Simplicity is the key, and we should dress our sites by being subtle, discrete and elegant.
  br
  'Without any sexist comment, let's imagine that we have to make a clothe for a beautiful woman, and have to put her in value.
  br
  'We know that she has blue eyes, brown hair, a small nose...
  br
  strong How to bring out these details ?

p
  'So it's the same for websites.
  br
  'We know our client has a story, a background. We know what his project would look like to.
  br
  'Let's dress it in an efficient way.

p
  'For a large part of what we do everyday, I think that's something that we have to keep in mind : Keep it simple.
  br
  'We don't have to put 10 colours on a website. A few one, 2 or three, well chosen, and displayed at strategic points are more useful.

p
  'Remember : a woman, wearing a small sapphire around the neck, will always be more attractive than
  strong
    'Mister T.
  'wearing all his golden necklaces' armada.
