---
title: About Her
published: true
teaser: A few notes after seeing HER, the new Spike Jonze's movie.
description: A few notes after seeing HER, the new Spike Jonze's movie.
pagetitle: A few notes about Her
banner: her.jpg
type: article
---
p
  'I just saw the Spike Jonze's flick
  strong
    'Her
  '.
p
  'I'm not here to make a review of the movie, but I can tell that I found it actually good.
  'It's clever, well-written and well played.
  br
  'After that, like it or hate it, I'm not here to launch myself in a cinema lovers debate (but around a beer if you want, I'm in !).

p
  'I just wanted to point two things that strike me the most in that movie.
  br
  'These two things are
  strong
    'subtility
  'and
  strong
    'attentions to details.

h3
  'Don't overplay it

p
  'While most of the sci-fi movies rely on an heavy imagery to underline the facts that, yes, we ARE in the future,
  strong
    'Her
  'just displays extensions of what we already know, but gently pushed them some years in the future.
p
  'No fancy stuff, no bionic eyes, no exo-squeleton, and no fake promises like
  em
    'a flying skateboard.
  'This is just a credible vision of what could comes next.
  br
  'And you know what's the best ? It works.
p
  'No extra fuss, just precise touches.
p
  'This is a lesson that we could apply in our designs : don't be too loud. An idea can be explicit even if you don't put a big red sign on it. Just be aware of the context, and push the reflection a bit further.

h3
  'Details, details

p
  'The second thing is a bit related, and concerns the attention to details.
  br
  'If you are in the design field, I highly recommand you to go have a look at that movie because it displays a lot of interesting stuff in terms of shapes, colors, patterns, interfaces, etc...
p
  'If you pay attention, there are lot of things there that you could be inspired from, and coming from various fields of design.
  br
  'But, there again, it's so subtle that you really have to focus on those details to notice them.
  br
  'All in all the combinations of these two factors contribute in the creation of a coherent and credible universe.
p
 'Which is another thing to remember.
 br
 'Details, significant or not, will add deepness and credibility to your work.

p
  a href="http://championdontstop.com/site3/clients/Her/Her.html" target="_blank" More about the visuals and design agency behind Her
